* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea {
  resize: none;
}

.cen {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.di-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.b-block {
  display: block;
}

.di-block {
  display: inline-block;
}

.a-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-i-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-i-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-c-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-c-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.re {
  position: relative;
}

.cu-po {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  position: relative;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.content {
  margin: 0 auto;
  max-width: 1510px;
  padding-left: 100px;
  padding-right: 100px;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

span {
  color: #566CF6;
}

h1,
h2 {
  font-weight: 800;
  color: #323232;
  line-height: 160%;
  font-size: 50px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.introduction {
  color: #323232;
}

.in-btn {
  color: #fff;
  text-transform: uppercase;
  background: #566CF6;
  border-radius: 10px;
  font-size: 24px;
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 70px;
  padding-right: 70px;
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  position: relative;
}

.in-title2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 135%;
}

.header__burger {
  display: none;
}

.burger__open {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: fixed;
  display: none;
  width: 100vw;
  height: auto;
}

.burger__open-active {
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.burger__open-btn-item {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  z-index: 500;
  padding-top: 70px;
  padding-bottom: 15px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 120%;
  display: block;
}

header .active {
  color: #566CF6;
}

.header__scroll {
  padding: 15px 0;
  background-color: #fff;
}

.header__list {
  font-weight: 500;
}

.header__list li {
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__list li:not(:last-child) {
  margin-right: 40px;
}

.header__language {
  font-weight: 400;
}

.introduction {
  position: relative;
}

.introduction .initial__body {
  margin-top: 120px;
  position: relative;
  z-index: 2;
}

.introduction h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 160%;
  margin-bottom: 40px;
  color: #323232;
  padding-right: 28%;
}

.introduction .initial__p {
  padding-left: 24px;
  border-left: 2px solid #323232;
  line-height: 200%;
  font-weight: 700;
  font-size: 36px;
  position: relative;
  z-index: 3;
}

.introduction .initial__p span {
  text-transform: uppercase;
  color: #4B67F2;
}

.introduction .initial__p-1 {
  padding-right: 40%;
}

.introduction .initial__p-2 {
  padding-right: 50%;
  margin-bottom: 90px;
}

.introduction .initial__body {
  position: relative;
  z-index: 2;
}

.introduction .in-initial__blur {
  position: absolute;
  right: 0;
  top: 0;
}

.introduction .in-initial__img {
  width: 480px;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  position: absolute;
  top: 0;
  right: 0;
}

.in-initial__p-wr {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 30px;
  padding-right: 25px;
  -webkit-transform: translate(-25%, -50%);
      -ms-transform: translate(-25%, -50%);
          transform: translate(-25%, -50%);
  font-family: "CodecPro";
  line-height: 135%;
  text-transform: uppercase;
}

@supports not ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
  .in-initial__p-wr {
    background: rgba(255, 255, 255, 0.9);
  }
}

.in-initial__autor {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.025em;
}

.in-initial__mail {
  font-weight: 300;
  font-size: 16px;
}

.preparation {
  padding-bottom: 100px;
}

.preparation__body {
  position: relative;
  z-index: 2;
}

.preparation__first-text {
  position: relative;
}

.preparation__first-img {
  padding-left: 50px;
}

.preparation__first-text,
.preparation__first-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.preparation__text-title {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 10px;
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 40px;
}

@supports not ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
  .preparation__text-title {
    background: rgba(255, 255, 255, 0.8);
  }
}

.preparation__blur {
  position: absolute;
  left: 0;
  min-width: 800px;
  top: 50%;
  -webkit-transform: translate(-23%, -50%);
      -ms-transform: translate(-23%, -50%);
          transform: translate(-23%, -50%);
}

.preparation__body,
.preparation__first-img {
  position: relative;
  z-index: 2;
}

.preparation__btn-wr {
  position: relative;
  display: inline-block;
}

.preparation__btn-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  height: 40px;
  width: 150px;
  -webkit-transform: translate(125%, 25%);
      -ms-transform: translate(125%, 25%);
          transform: translate(125%, 25%);
}

.preparation__second {
  position: relative;
  z-index: 2;
}

.preparation__second-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 10px;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 32px;
  padding-bottom: 68px;
}

@supports not ((-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))) {
  .preparation__second-text {
    background: rgba(255, 255, 255, 0.8);
  }
}

.preparation__second-title {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
}

.preparation__second-p {
  line-height: 120%;
  font-weight: 500;
  font-size: 21px;
}

.preparation__s-btn-wr {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.prepatation__second-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100px;
  -webkit-transform: translate(125%, -25%);
      -ms-transform: translate(125%, -25%);
          transform: translate(125%, -25%);
}

.preparation__wr-arrow {
  position: relative;
  display: inline-block;
}

.adjustment__body {
  position: relative;
  z-index: 2;
}

.adjustment__net-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}

.adjustment__net-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.adjustment__title {
  margin-bottom: 60px;
}

.adjustment__img {
  padding-left: 20px;
}

.adjustment__text-wr {
  line-height: 135.58%;
  margin-bottom: 40px;
}

.adjustment__text-wr section:not(:last-child) {
  margin-bottom: 60px;
}

.adjustment__text-wr h4 {
  font-family: "CodecPro";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 3px;
  text-transform: uppercase;
  color: #566CF6;
}

.adjustment__text-wr p {
  font-weight: 500;
  font-size: 24px;
}

.adjustment__btn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  -webkit-filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
  padding-top: 18px;
  padding-bottom: 18px;
  color: #566CF6;
  border-radius: 30px;
  background-color: #fff;
  padding-left: 60px;
  padding-right: 60px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.adjustment__body-wr {
  position: relative;
}

.adjustment__body-img {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-25%, -25%);
      -ms-transform: translate(-25%, -25%);
          transform: translate(-25%, -25%);
}

footer {
  height: 200vh;
}

@font-face {
  font-family: CodecPro;
  font-display: swap;
  src: url("../fonts/CodecPro-ExtraBold.woff2") format("woff2"), url("../fonts/CodecPro-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: CodecPro;
  font-display: swap;
  src: url("../fonts/CodecPro-Light.woff2") format("woff2"), url("../fonts/CodecPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: CodecPro;
  font-display: swap;
  src: url("../fonts/CodecPro-News.woff2") format("woff2"), url("../fonts/CodecPro-News.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@media (min-width: 600px) {
  .preparation__second-text {
    text-transform: uppercase;
  }
}

@media (max-width: 1510px) {
  .content {
    padding-left: calc(15px + 85 * ((100vw - 320px) / 1510));
  }

  .content {
    padding-right: calc(15px + 85 * ((100vw - 320px) / 1510));
  }

  h1,
  h2 {
    font-size: calc(20px + 30 * ((100vw - 320px) / 1510));
  }

  .in-btn {
    font-size: calc(14px + 10 * ((100vw - 320px) / 1510));
  }

  .in-btn {
    padding-left: calc(40px + 30 * ((100vw - 320px) / 1510));
  }

  .in-btn {
    padding-right: calc(40px + 30 * ((100vw - 320px) / 1510));
  }

  .in-title2 {
    font-size: calc(16px + 24 * ((100vw - 320px) / 1510));
  }

  header {
    padding-top: calc(15px + 55 * ((100vw - 320px) / 1510));
  }

  header {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1510));
  }

  .header__list li:not(:last-child) {
    margin-right: calc(20px + 20 * ((100vw - 320px) / 1510));
  }

  .introduction .initial__body {
    margin-top: calc(70px + 50 * ((100vw - 320px) / 1510));
  }

  .introduction h1 {
    font-size: calc(20px + 40 * ((100vw - 320px) / 1510));
  }

  .introduction h1 {
    margin-bottom: calc(10px + 30 * ((100vw - 320px) / 1510));
  }

  .introduction .initial__p {
    font-size: calc(15px + 21 * ((100vw - 320px) / 1510));
  }

  .introduction .in-initial__img {
    width: calc(220px + 260 * ((100vw - 320px) / 1510));
  }

  .in-initial__p-wr {
    padding-left: calc(17px + 13 * ((100vw - 320px) / 1510));
  }

  .in-initial__p-wr {
    padding-right: calc(13px + 12 * ((100vw - 320px) / 1510));
  }

  .in-initial__autor {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1510));
  }

  .in-initial__mail {
    font-size: calc(11px + 5 * ((100vw - 320px) / 1510));
  }

  .preparation {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 1510));
  }

  .preparation__first-img {
    padding-left: calc(5px + 45 * ((100vw - 320px) / 1510));
  }

  .preparation__text-title {
    padding-top: calc(10px + 14 * ((100vw - 320px) / 1510));
  }

  .preparation__text-title {
    padding-bottom: calc(10px + 14 * ((100vw - 320px) / 1510));
  }

  .preparation__text-title {
    font-size: calc(14px + 18 * ((100vw - 320px) / 1510));
  }

  .preparation__text-title {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1510));
  }

  .preparation__btn-arrow {
    height: calc(12px + 28 * ((100vw - 320px) / 1510));
  }

  .preparation__btn-arrow {
    width: calc(50px + 100 * ((100vw - 320px) / 1510));
  }

  .preparation__second-text {
    padding-left: calc(6px + 58 * ((100vw - 320px) / 1510));
  }

  .preparation__second-text {
    padding-right: calc(6px + 58 * ((100vw - 320px) / 1510));
  }

  .preparation__second-text {
    padding-top: calc(15px + 17 * ((100vw - 320px) / 1510));
  }

  .preparation__second-text {
    padding-bottom: calc(15px + 53 * ((100vw - 320px) / 1510));
  }

  .preparation__second-title {
    font-size: calc(14px + 18 * ((100vw - 320px) / 1510));
  }

  .preparation__second-p {
    font-size: calc(11px + 10 * ((100vw - 320px) / 1510));
  }

  .prepatation__second-arrow {
    width: calc(50px + 50 * ((100vw - 320px) / 1510));
  }

  .adjustment__title {
    margin-bottom: calc(20px + 40 * ((100vw - 320px) / 1510));
  }

  .adjustment__text-wr {
    margin-bottom: calc(12px + 28 * ((100vw - 320px) / 1510));
  }

  .adjustment__text-wr section:not(:last-child) {
    margin-bottom: calc(15px + 45 * ((100vw - 320px) / 1510));
  }

  .adjustment__text-wr h4 {
    font-size: calc(16px + 24 * ((100vw - 320px) / 1510));
  }

  .adjustment__text-wr p {
    font-size: calc(10px + 14 * ((100vw - 320px) / 1510));
  }

  .adjustment__btn {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1510));
  }

  .adjustment__btn {
    padding-left: calc(10px + 50 * ((100vw - 320px) / 1510));
  }

  .adjustment__btn {
    padding-right: calc(10px + 50 * ((100vw - 320px) / 1510));
  }
}

@media (max-width: 992px) {
  .introduction .initial__p {
    padding-left: 0;
    border-left: 0;
    line-height: 150%;
  }
}

@media (max-width: 768px) {
  .burger__open {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    overflow: auto;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .header__burger {
    z-index: 9000;
    position: relative;
    display: block;
    width: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 40px;
    position: relative;
  }

  .header__burger:after {
    content: "";
    display: block;
    background-color: #000;
    border-radius: 50px;
    width: 26px;
    height: 2px;
    position: absolute;
    top: 18px;
    right: 0px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger:before {
    content: "";
    display: block;
    background-color: #000;
    border-radius: 50px;
    width: 26px;
    height: 2px;
    position: absolute;
    top: 10px;
    right: 0px;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .header__burger span:after {
    content: "";
    display: block;
    background-color: #000;
    border-radius: 50px;
    width: 26px;
    height: 2px;
    position: absolute;
    top: 26px;
    right: 0;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .close:after {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    right: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 23px;
  }

  .close:before {
    content: "";
    display: block;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .close span:after {
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    right: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 23px;
  }

  .burger__open-btn-item {
    display: inline-block;
  }

  .header__scroll {
    padding: 10px 0;
  }

  .header__list li {
    padding: 10px 0;
  }

  .header__list li:not(:last-child) {
    margin-right: 0;
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__language a {
    padding: 0 5px;
  }

  .header__language {
    text-transform: uppercase;
  }

  .introduction h1 {
    padding-right: 0;
  }

  .introduction .initial__p {
    padding-right: 0;
    margin-bottom: 12px;
  }

  .introduction .initial__body {
    margin-bottom: 26px;
  }

  .introduction .in-initial__blur {
    left: 0;
    max-width: 150%;
    -webkit-transform: translateX(-25%);
        -ms-transform: translateX(-25%);
            transform: translateX(-25%);
  }

  .introduction .in-initial__img {
    position: relative;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
  }

  .in-initial__img-wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .preparation__title {
    margin-bottom: 15px;
  }

  .preparation__first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .preparation__first-img {
    padding-left: 0;
  }

  .preparation__text-btn {
    margin-bottom: 20px;
  }

  .preparation__blur {
    max-width: 1500px;
    -webkit-transform: translate(-30%, -35%);
        -ms-transform: translate(-30%, -35%);
            transform: translate(-30%, -35%);
  }

  .preparation__second-text {
    margin-bottom: 20px;
  }

  .preparation__second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .preparation__s-btn-wr {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .adjustment__net {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .adjustment__net-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .adjustment__img {
    padding-left: 0;
    margin-bottom: 25px;
  }

  .adjustment__body-img {
    min-width: 1500px;
    -webkit-transform: translate(-25%, -25%);
        -ms-transform: translate(-25%, -25%);
            transform: translate(-25%, -25%);
  }

  .adjustment__btn-wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 600px) {
  .preparation__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .preparation__text-title {
    text-align: center;
  }

  .preparation__btn-arrow {
    -webkit-transform: translate(125%, -50%);
        -ms-transform: translate(125%, -50%);
            transform: translate(125%, -50%);
  }

  .preparation__second-text {
    text-align: center;
  }

  .preparation__second-title {
    margin-bottom: 7px;
  }

  .preparation__second-p {
    text-transform: uppercase;
  }

  .adjustment__btn {
    font-weight: 600;
  }
}

@media (any-hover: hover) {
  .in-btn:hover {
    background: #4658d0;
  }

  .header__list li:hover {
    color: #566CF6;
  }

  .header__language a:hover {
    color: #566CF6;
  }

  .adjustment__btn:hover {
    background-color: rgb(244, 241, 241);
  }
}